@font-face{
  src: url('../webfonts/Montserrat-Regular.ttf');
  font-family: 'Montserrat-Regular';
}
@font-face{
  src: url('../webfonts/Montserrat-Medium.ttf');
  font-family: 'Montserrat-Medium';
}
@font-face{
  src: url('../webfonts/Montserrat-Bold.ttf');
  font-family: 'Montserrat-Bold';
}
@font-face{
  src: url('../webfonts/ArbFONTS-Montserrat-Arabic-Regular.ttf');
  font-family: 'Montserrat-arabic';
}
:root {
  --primaryColor: #058354;
  --red: #f74e4e;
  --montReg: 'Montserrat-Regular';
  --montMed: 'Montserrat-Medium';
  --montBold: 'Montserrat-Bold';
  --arFont: 'Montserrat-arabic'
}

button {
  background: transparent;
  border: 0 none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.primary {
  color: var(--primaryColor);
}

a.no_underline:hover {
  text-decoration: none;
}

.medium_font {
  font-family: var(--montMed);
}

.bold_font {
  font-family: var(--montBold);
}

.main_btn {
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  color: #fff;
  font-size: 1rem;
}

.light_btn,
.light_btn:hover {
  background-color: #ffc6c8;
  font-size: 1rem;
  color: var(--primaryColor);
}

.main_btn:hover,
.main_btn:active {
  background: #046642 ;
  color: #fff;
}

body {
  font-family: var(--montReg);
}
.app-page-title {
  margin-bottom: 0;
}


.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul li a {
  text-indent: initial;
}
.fixed-sidebar .app-main .app-main__outer{
  padding-left: 250px;
}
.form_control {
  display: block;
  width: 100%;
  border: 0 none;
  border: 2px solid #ddd;
  padding: 0 .5rem;
  height: 2.5rem;
}

.form_line {
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  height: 2px;
  bottom: 0;
  background: #242C33;
  transform-origin: 100% 100%;
  opacity: 0;
  transform: scaleX(0);
  transition: .4s ease-in-out;
}

.form_control:focus,
.bootstrap-tagsinput:focus,
.select2-container:active {
 border-color: var(--primaryColor);
}
.select2
.form_head {
  padding: 1rem 0 3rem;
  text-align: center;
  color: #fff;
}

.form_wrapper {
  background: #fff;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
  padding: 1.5rem;
  margin-top: -2rem;
  border-radius: .5rem;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 2.5rem;
  border: 2px solid #ddd;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 2.5rem;
}

.file-preview .fileinput-remove {
  top: .5rem;
  left: .5rem;
  right: auto;
}

.file-drop-zone-title {
  padding: 3rem .5rem;
}

.btn-file {
  border-color: var(--primaryColor);
  background: transparent;
  color: var(--primaryColor);
}

.btn-file:hover {
  background: var(--primaryColor);
  border-color: var(--primaryColor);
}

.repeated_form .form-row:first-of-type .btn {
  display: none;
}

.bootstrap-tagsinput .tag {
  background: #e52328;
  padding: .1rem .25rem;
  border-radius: .25rem;
}


.bootstrap-tagsinput {
  /* display: inline-block; */
  display: block;
  border: 2px solid transparent;
  border-bottom-color: #ddd;
  box-shadow: 0 0 0 transparent;
  line-height: 1.8125rem;
}

.status_badge {
  min-width: 5.375rem;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

textarea.form-control:focus {
  border-color: #242C33;
  box-shadow: none;
}

.app-sidebar {
  width: 250px;
  min-width: 250px;
}
.small_font {
  font-size: .875rem;
}
.ar_font{
  font-family: var(--arFont);
}
.grey_icon {
  color: #a9a9a9;
}
.grey {
  color: #888;
}
@media(min-width: 992px){
  .app-header.header-shadow {
    box-shadow: none;
    width: calc(100% - 250px);
    right: 0;
    background: var(--primaryColor);
    height: 72px;
   }
}
.app-sidebar{
  padding-top: 30px;
}
.vertical-nav-menu i.metismenu-state-icon, .vertical-nav-menu i.metismenu-icon{
  color: #A09661;
  opacity: 1;
  left: 25px;
}
.vertical-nav-menu li a:hover i.metismenu-icon{
  opacity: 1;
}
.vertical-nav-menu li a{
  font-family: var(--montMed);
}
.app-sidebar .app-sidebar__inner{
  padding: 0 0 1.5rem 0;
}
.vertical-nav-menu li a {
  padding: 0 1.5rem 0 70px;
  }
  .vertical-nav-menu li a:hover{
    background: #f3f3f3;
  }
.header_btn{
  background-color: #fff;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 0;
  cursor: pointer;
  color: var(--primaryColor);
}
.bottom_nav{
  position: fixed;
  bottom: 0;
  background-color: #4e4e4e;
  z-index: 999;
  transition: .25s ease-in-out;
  border-radius: 32px 32px 0 0;
  transform-origin: 0% 0%;
  transform: translateY(100%);
  opacity: 0;
}
.bottom_nav a{
  color: rgba(255, 255, 255, 0.767);
  padding: 1rem 1.5rem;
  width: 100%;
  display: block;
  font-family: var(--montMed);
  border-bottom: 1px solid #464646;
  border-left: 1px solid #464646;
}
.bottom_nav a:hover{
  text-decoration: none;
  color: #fff;
}
.bottom_nav.show{
  transform: translateY(0);
  opacity: 1;
}
@media(min-width: 992px){
  .bottom_nav{
    left: calc(250px + 30px);
    right: 30px;
  }
  .bottom_nav [class*=col-]:nth-of-type(1) a, .bottom_nav [class*=col-]:nth-of-type(4) a{
    border-left: 0 none;
  }
}
@media(max-width: 768px){
  .bottom_nav [class*=col-]:nth-of-type(1) a, .bottom_nav [class*=col-]:nth-of-type(3) a, .bottom_nav [class*=col-]:nth-of-type(5) a{
    border-left: 0 none;
  }
}
.app-theme-white .app-header{
  background-color: var(--primaryColor);
  color: #fff;
}
.app-theme-white .hamburger-inner{
  background-color: #fff;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
} 
@media(min-width: 992px){
  .details_left_info{
    height: 100%;
    padding: 1.5rem;
    border-right: 1px solid #eee;
  }
}
.risk_badge{
  display: inline-block;
  min-width: 72px;
  padding: .25rem .5rem;
  border-radius: .25rem;
  text-align: center;
}
.risk_badge.danger{
  color: #e52328;
  background: #fdd5d7;
}
.risk_badge.success{
  color: #13ad20;
  background: #d6ffd8;
}
.dropdown-menu{
  left: 0 !important;
  right: auto !important;
}
.vertical-nav-menu li a.mm-active{
  background: var(--primaryColor);
  color: #fff;
}
.vertical-nav-menu li a.mm-active i{
  color: #fff;
}
.checkbox_custom{
  display: inline-flex;
  align-items: center;
}
.checkbox_custom input{
  opacity: 0;
  position: absolute; 
}
.checkbox_custom span{
  width: 24px;
  height: 24px;
  border-radius: .25rem;
  display: inline-block;
  border: 1px solid #e1e1e1;
  text-align: center;
}
.checkbox_custom.radio span{
  border-radius: 50%;
}
.checkbox_custom span:before{
  content: '\f00c';
  font-family: 'font awesome 5 pro';
  font-weight: 900;
  opacity: 0;
  color: var(--primaryColor);
}
.checkbox_custom input:checked ~ span{
  border-color: var(--primaryColor);
}
.checkbox_custom input:checked ~ span:before{
  opacity: 1;
}
.modal_head{
  background-color: rgb(247, 78, 78);
  color: #fff;
  padding: 1.5rem 0;
  text-align: center;
  margin: -1rem -1rem 1.5rem;
  font-size: 2.5rem;
  
}
.btn-danger{
  background: var(--red);
  border-color: var(--red);
}
.btn-danger:hover{
  background: #ca2828;
  border-color: #ca2828;
}
.btn-outline-danger {
  color: var(--red);
  border-color: var(--red);
}
.btn-outline-danger:hover{
  background: var(--red);
}
.btn-outline-success{
  color: var(--primaryColor);
  border-color: var(--primaryColor);
}
.btn-outline-success:hover{
  background: var(--primaryColor);
}
.ar_font ~ .select2-container .select2-results__option{
  font-family: var(--arFont);
}
.ar_font ~ .select2-container .select2-selection--single .select2-selection__rendered{
  font-family: var(--arFont);
}
@media(max-width: 768px){
  .app-sidebar{
    margin-top: 0;
  }
}