/*----------------------------------------*/
/*  33.  Normal Table CSS
/*----------------------------------------*/
.normal-table-list .table {
  margin-bottom: 0px;
}

.table.table-sc-ex>tbody>tr>td,
.table.table-sc-ex>tbody>tr>th,
.table.table-sc-ex>tfoot>tr>td,
.table.table-sc-ex>tfoot>tr>th,
.table.table-sc-ex>thead>tr>td,
.table.table-sc-ex>thead>tr>th {
  border-top: 1px solid #F5F5F5;
  font-size: 14px;
  color: #333;
  padding: 15px;
}

.table.table-bordered>tbody>tr>td,
.table.table-bordered>tbody>tr>th,
.table.table-bordered>tfoot>tr>td,
.table.table-bordered>tfoot>tr>th,
.table.table-bordered>thead>tr>td,
.table.table-bordered>thead>tr>th {
  border: 1px solid #F5F5F5;
  font-size: 14px;
  color: #333;
  padding: 15px;
}

.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border: 1px solid #F5F5F5;
}

.table.table-striped>tbody>tr>td,
.table.table-striped>tbody>tr>th,
.table.table-striped>tfoot>tr>td,
.table.table-striped>tfoot>tr>th,
.table.table-striped>thead>tr>td,
.table.table-striped>thead>tr>th {
  border-top: 0px solid #F5F5F5;
  font-size: 14px;
  color: #333;
  padding: 15px;
}

.table.table-hover>tbody>tr>td,
.table.table-hover>tbody>tr>th,
.table.table-hover>tfoot>tr>td,
.table.table-hover>tfoot>tr>th,
.table.table-hover>thead>tr>td,
.table.table-hover>thead>tr>th {
  border-top: 1px solid #F5F5F5;
  font-size: 14px;
  color: #333;
  padding: 15px 15px;
}

.table.table-condensed>tbody>tr>td,
.table.table-condensed>tbody>tr>th,
.table.table-condensed>tfoot>tr>td,
.table.table-condensed>tfoot>tr>th,
.table.table-condensed>thead>tr>td,
.table.table-condensed>thead>tr>th {
  border-top: 1px solid #F5F5F5;
  font-size: 14px;
  color: #333;
  padding: 10px;
}

.table.table-cl>tbody>tr>td,
.table.table-cl>tbody>tr>th,
.table.table-cl>tfoot>tr>td,
.table.table-cl>tfoot>tr>th,
.table.table-cl>thead>tr>td,
.table.table-cl>thead>tr>th {
  border-top: 0px solid #F5F5F5;
  font-size: 14px;
  color: #333;
  padding: 15px;
}

.table.table-striped>thead>tr>th {
  border-bottom: 0px solid #ddd;
}

.table.table-sc-ex>thead>tr>th {
  border-bottom: 0px solid #ddd;
}

.table.table-bordered>thead>tr>th {
  border-bottom: 0px solid #ddd;
}

.table.table-hover>thead>tr>th {
  border-bottom: 0px solid #ddd;
}

.table.table-condensed>thead>tr>th {
  border-bottom: 0px solid #ddd;
}

.table.table-cl>thead>tr>th {
  border-bottom: 0px solid #ddd;
}

.table.table-cl>tbody>tr.active>td,
.table.table-cl>tbody>tr.active>th,
.table.table-cl>tbody>tr>td.active,
.table.table-cl>tbody>tr>th.active,
.table.table-cl>tfoot>tr.active>td,
.table.table-cl>tfoot>tr.active>th,
.table.table-cl>tfoot>tr>td.active,
.table.table-cl>tfoot>tr>th.active,
.table.table-cl>thead>tr.active>td,
.table.table-cl>thead>tr.active>th,
.table.table-cl>thead>tr>td.active,
.table.table-cl>thead>tr>th.active {
  background: var(--primaryColor);
  color: #fff;
}

.table.table-cl>tbody>tr.info>td,
.table.table-cl>tbody>tr.info>th,
.table.table-cl>tbody>tr>td.info,
.table.table-cl>tbody>tr>th.info,
.table.table-cl>tfoot>tr.info>td,
.table.table-cl>tfoot>tr.info>th,
.table.table-cl>tfoot>tr>td.info,
.table.table-cl>tfoot>tr>th.info,
.table.table-cl>thead>tr.info>td,
.table.table-cl>thead>tr.info>th,
.table.table-cl>thead>tr>td.info,
.table.table-cl>thead>tr>th.info {
  background: #fb9678;
  color: #fff;
}

.table.table-cl>tbody>tr.warning>td,
.table.table-cl>tbody>tr.warning>th,
.table.table-cl>tbody>tr>td.warning,
.table.table-cl>tbody>tr>th.warning,
.table.table-cl>tfoot>tr.warning>td,
.table.table-cl>tfoot>tr.warning>th,
.table.table-cl>tfoot>tr>td.warning,
.table.table-cl>tfoot>tr>th.warning,
.table.table-cl>thead>tr.warning>td,
.table.table-cl>thead>tr.warning>th,
.table.table-cl>thead>tr>td.warning,
.table.table-cl>thead>tr>th.warning {
  background: #01c0c8;
  color: #fff;
}

.table.table-cl>tbody>tr.danger>td,
.table.table-cl>tbody>tr.danger>th,
.table.table-cl>tbody>tr>td.danger,
.table.table-cl>tbody>tr>th.danger,
.table.table-cl>tfoot>tr.danger>td,
.table.table-cl>tfoot>tr.danger>th,
.table.table-cl>tfoot>tr>td.danger,
.table.table-cl>tfoot>tr>th.danger,
.table.table-cl>thead>tr.danger>td,
.table.table-cl>thead>tr.danger>th,
.table.table-cl>thead>tr>td.danger,
.table.table-cl>thead>tr>th.danger {
  background: #ab8ce4;
  color: #fff;
}

.table.table-cl>tbody>tr.success>td,
.table.table-cl>tbody>tr.success>th,
.table.table-cl>tbody>tr>td.success,
.table.table-cl>tbody>tr>th.success,
.table.table-cl>tfoot>tr.success>td,
.table.table-cl>tfoot>tr.success>th,
.table.table-cl>tfoot>tr>td.success,
.table.table-cl>tfoot>tr>th.success,
.table.table-cl>thead>tr.success>td,
.table.table-cl>thead>tr.success>th,
.table.table-cl>thead>tr>td.success,
.table.table-cl>thead>tr>th.success {
  background: #e46a76;
  color: #fff;
}

.basic-tb-hd p {
  margin-bottom: 0px;
}

.basic-tb-hd {
  margin-bottom: 20px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  font-size: 14px;
  color: #333;
}

/*----------------------------------------*/
/*  34.  Data Table CSS
/*----------------------------------------*/
.dataTables_filter,
.dataTables_length {
  padding: 20px 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.dataTables_filter label,
.dataTables_length label {
  font-weight: 400;
}

.dataTables_length select {
  margin: 0 8px;
}

.dataTables_filter input,
.dataTables_filter select,
.dataTables_length input,
.dataTables_length select {
  border: 1px solid #eee;
  height: 35px;
  padding: 7px 15px;
  font-size: 13px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 100%;
  background-color: #fff;
  outline: none;
}

.dataTables_filter input:focus,
.dataTables_filter select:focus,
.dataTables_length input:focus,
.dataTables_length select:focus,
.dataTables_length option:focus {
  border: 1px solid var(--primaryColor);
}

.dataTables_wrapper .dataTables_filter {
  width: 40%;
}

.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_filter label {
  width: 100%;
}

.dataTables_filter label:after {
  content: '\f002';
  font-family: 'font awesome 5 pro';
  position: absolute;
  font-size: 14px;
  top: .5rem;
  right: 12px;
}

.dataTables_wrapper .dataTables_filter input {
  margin: 0 !important;
  padding: .5rem
}

.dataTables_filter label {
  position: relative;
  font-size: 0;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.previous:before {
  content: '\f053';
  font-family: 'font awesome 5 pro';
  font-weight: 300;
  font-size: 1rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next:before {
  content: '\f054';
  font-family: 'font awesome 5 pro';
  font-weight: 300;
  font-size: 1rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: var(--primaryColor);
  color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f1f1f1;
  vertical-align: top;
  color: #7E7E7E !important;
  margin: 0 2px;
  border: 0 !important;
  line-height: 22px;
  box-shadow: none !important;
}


#data-table-basic {
  padding: 20px 0px;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
  padding-top: 0px;
}

#data-table-basic_filter label,
#data-table-basic_length label {
  margin-bottom: 0px;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom-color: transparent;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-position: center left;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #888;
}

.dataTables_wrapper .dataTables_filter {
  padding-right: 0;
}

table.dataTable tr.even {
  background-color: #f5f5f5;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
  color: white !important;
  border: 0px solid #ccc;
  background: var(--primaryColor) !important;
}

.table-responsive {
  overflow-y: hidden;
}
table.dataTable tbody th, table.dataTable tbody td{
  padding: 8px 18px;
  white-space: nowrap;
}